In [1]:
import sys
sys.executable

'C:\\Program_files\\envs\\PythonData\\python.exe'

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nehe,CN,2021-10-20 22:25:10,48.4833,124.8333,32.09,65,86,5.44
1,1,Male,MV,2021-10-20 22:25:11,4.1748,73.5089,82.35,78,40,9.22
2,2,Agrado,CO,2021-10-20 22:25:11,2.2573,-75.7714,76.86,72,50,4.74
3,3,Cape Town,ZA,2021-10-20 22:20:30,-33.9258,18.4232,63.09,76,0,1.99
4,4,Bilibino,RU,2021-10-20 22:25:12,68.0546,166.4372,0.59,96,100,2.33

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Male,MV,2021-10-20 22:25:11,4.1748,73.5089,82.35,78,40,9.22
2,2,Agrado,CO,2021-10-20 22:25:11,2.2573,-75.7714,76.86,72,50,4.74
12,12,Sinnamary,GF,2021-10-20 22:25:17,5.3833,-52.9500,80.53,79,36,8.75
14,14,San Cristobal,VE,2021-10-20 22:25:18,7.7669,-72.2250,77.18,69,12,2.08
16,16,Butaritari,KI,2021-10-20 22:25:19,3.0707,172.7902,81.46,74,28,9.73
17,17,Vaini,TO,2021-10-20 22:25:20,-21.2000,-175.2000,78.96,89,75,8.05
21,21,Bathsheba,BB,2021-10-20 22:25:23,13.2167,-59.5167,83.01,78,40,21.85
27,27,Hithadhoo,MV,2021-10-20 22:25:26,-0.6000,73.0833,81.09,77,100,11.21
30,30,Abu Dhabi,AE,2021-10-20 22:25:28,24.4667,54.3667,84.31,79,6,2.30
31,31,San Angelo,US,2021-10-20 22:24:24,31.4638,-100.4370,84.11,55,1,3.00

In [13]:
preferred_cities_df.count()

City_ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1            Male      MV     82.35   4.1748   73.5089
2          Agrado      CO     76.86   2.2573  -75.7714
12      Sinnamary      GF     80.53   5.3833  -52.9500
14  San Cristobal      VE     77.18   7.7669  -72.2250
16     Butaritari      KI     81.46   3.0707  172.7902
17          Vaini      TO     78.96 -21.2000 -175.2000
21      Bathsheba      BB     83.01  13.2167  -59.5167
27      Hithadhoo      MV     81.09  -0.6000   73.0833
30      Abu Dhabi      AE     84.31  24.4667   54.3667
31     San Angelo      US     84.11  31.4638 -100.4370

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Male,MV,82.35,4.1748,73.5089,Hotel Octave Maldives
2,Agrado,CO,76.86,2.2573,-75.7714,Edificio San Diego
12,Sinnamary,GF,80.53,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
14,San Cristobal,VE,77.18,7.7669,-72.2250,Posada Villaven C.A.
16,Butaritari,KI,81.46,3.0707,172.7902,Isles Sunset Lodge
17,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
21,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
27,Hithadhoo,MV,81.09,-0.6000,73.0833,Scoop Guest House
30,Abu Dhabi,AE,84.31,24.4667,54.3667,Ramee Garden Hotel Apartments
31,San Angelo,US,84.11,31.4638,-100.4370,"Motel 6 San Angelo, TX"
32,Kapaa,US,82.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
34,Cabo San Lucas,MX,89.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
36,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
45,Manokwari,ID,79.99,-0.8667,134.0833,Swiss Belhotel Manokwari
47,Kahului,US,83.46,20.8947,-156.4700,Maui Seaside Hotel
49,Agua Verde,MX,87.89,22.9000,-106.0500,
50,Madras,IN,80.58,13.0878,80.2785,City home
58,Tabou,CI,77.32,4.4230,-7.3528,hotêl doufoulougou
59,Kapasan,ID,77.41,-6.7773,111.3789,Perum Perhutani Kph Mantingan
60,Atuona,PF,76.87,-9.8000,-139.0333,Villa Enata
63,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
76,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
80,Padang,ID,75.18,-0.9492,100.3543,Mercure Padang
85,Tautira,PF,82.42,-17.7333,-149.1500,Pension Oaoa
90,Totness,SR,81.14,5.8833,-56.3167,STAATS LOGEERGEBOUW TOTNESS
92,Buala,SB,83.64,-8.1450,159.5921,Maringe Lagoon Lodge
107,Umrala,IN,76.46,21.8333,71.8167,Gopalwadi Balmndir
108,Isangel,VU,82.51,-19.5500,169.2667,Tanna Lodge
111,Winneba,GH,81.07,5.3511,-0.6231,Windy Lodge & Beach Resort
112,Kutum,SD,77.76,14.2000,24.6667,Dibbo areaمنطقة دبو
113,Cayenne,GF,83.08,4.9333,-52.3333,Hôtel Le Dronmi
116,Kavaratti,IN,81.79,10.5669,72.6420,Hotels in Lakshadweep Islands
117,Angoche,MZ,75.09,-16.2325,39.9086,Guest House HESADA
121,Lompoc,US,77.09,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
126,Thinadhoo,MV,81.50,0.5333,72.9333,
127,Ocos,GT,86.50,14.5094,-92.1933,Auto Hotel El Soñador
132,Matara,LK,76.68,5.9485,80.5353,Amaloh Boutique Resort
133,Wewak,PG,79.03,-3.5534,143.6268,In Wewak Boutique Hotel
141,Touros,BR,81.50,-5.1989,-35.4608,INN NEW HORIZON
143,Sabang,ID,81.19,5.8933,95.3214,Hotel Citra
144,Bacolod,PH,78.01,10.6667,122.9500,Planta Hotel & Residences
145,Mecca,SA,82.56,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
146,Tingo Maria,PE,80.87,-9.2895,-76.0088,Hospedaje Paraíso
151,Daru,PG,81.90,-9.0763,143.2092,Daru Lodge
152,Las Tunas,CU,84.33,20.9617,-76.9511,Hotel Cadillac
158,Gambela,ET,77.59,8.2500,34.5833,Solomon Debebe Hotel
161,Nhulunbuy,AU,84.81,-12.2333,136.7667,East Arnhem Real Estate
165,Mindupok,PH,78.58,6.0906,124.4233,
169,Banda Aceh,ID,78.64,5.5577,95.3222,Sulthan Hotel International
173,Atambua,ID,76.53,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))